spawn-at-startup "spotify"
spawn-at-startup "vesktop"
spawn-at-startup "pavucontrol"
spawn-at-startup "easyeffects"
spawn-at-startup "obs"
spawn-at-startup "1password"
spawn-at-startup "noctalia-shell"

