workspace "misc"
workspace "docs"
workspace "mail"
workspace "media"
workspace "chat"
workspace "files"
workspace "term"
workspace "dev"
workspace "web"
workspace "scratch"

binds {
    Mod+9 { focus-workspace "misc"; }
    Mod+8 { focus-workspace "docs"; }
    Mod+7 { focus-workspace "mail"; }
    Mod+6 { focus-workspace "media"; }
    Mod+5 { focus-workspace "chat"; }
    Mod+4 { focus-workspace "files"; }
    Mod+3 { focus-workspace "term"; }
    Mod+2 { focus-workspace "dev"; }
    Mod+1 { focus-workspace "web"; }

    Mod+Shift+1 { move-column-to-workspace "web"; }
    Mod+Shift+2 { move-column-to-workspace "dev"; }
    Mod+Shift+3 { move-column-to-workspace "term"; }
    Mod+Shift+4 { move-column-to-workspace "files"; }
    Mod+Shift+5 { move-column-to-workspace "chat"; }
    Mod+Shift+6 { move-column-to-workspace "media"; }
    Mod+Shift+7 { move-column-to-workspace "mail"; }
    Mod+Shift+8 { move-column-to-workspace "docs"; }
    Mod+Shift+9 { move-column-to-workspace "misc"; }
}
