workspace "scratch"


workspace "web"    { open-on-output "DP-4"; }
workspace "dev"    { open-on-output "DP-4"; }
workspace "term"   { open-on-output "DP-4"; }
workspace "files"  { open-on-output "DP-4"; }
workspace "chat"   { open-on-output "DP-4"; }
workspace "media"  { open-on-output "DP-4"; }
workspace "mail"   { open-on-output "DP-4"; }
workspace "docs"   { open-on-output "DP-4"; }
workspace "misc"   { open-on-output "DP-4"; }

workspace "web2"   { open-on-output "DP-5"; }
workspace "dev2"   { open-on-output "DP-5"; }
workspace "term2"  { open-on-output "DP-5"; }
workspace "files2" { open-on-output "DP-5"; }
workspace "chat2"  { open-on-output "DP-5"; }
workspace "media2" { open-on-output "DP-5"; }
workspace "mail2"  { open-on-output "DP-5"; }
workspace "docs2"  { open-on-output "DP-5"; }
workspace "misc2"  { open-on-output "DP-5"; }

// Side left monitor (unused if no left monitor)
//workspace "web3"   { open-on-output ""; }
// workspace "dev3"   { open-on-output ""; }
// workspace "term3"  { open-on-output ""; }
// workspace "files3" { open-on-output ""; }
// workspace "chat3"  { open-on-output ""; }
// workspace "media3" { open-on-output ""; }
// workspace "mail3"  { open-on-output ""; }
// workspace "docs3"  { open-on-output ""; }
// workspace "misc3"  { open-on-output ""; }

binds {
    Mod+9 { spawn "workspace-per-monitor" "9" "focus"; }
    Mod+8 { spawn "workspace-per-monitor" "8" "focus"; }
    Mod+7 { spawn "workspace-per-monitor" "7" "focus"; }
    Mod+6 { spawn "workspace-per-monitor" "6" "focus"; }
    Mod+5 { spawn "workspace-per-monitor" "5" "focus"; }
    Mod+4 { spawn "workspace-per-monitor" "4" "focus"; }
    Mod+3 { spawn "workspace-per-monitor" "3" "focus"; }
    Mod+2 { spawn "workspace-per-monitor" "2" "focus"; }
    Mod+1 { spawn "workspace-per-monitor" "1" "focus"; }

    Mod+Shift+9 { spawn "workspace-per-monitor" "9" "move"; }
    Mod+Shift+8 { spawn "workspace-per-monitor" "8" "move"; }
    Mod+Shift+7 { spawn "workspace-per-monitor" "7" "move"; }
    Mod+Shift+6 { spawn "workspace-per-monitor" "6" "move"; }
    Mod+Shift+5 { spawn "workspace-per-monitor" "5" "move"; }
    Mod+Shift+4 { spawn "workspace-per-monitor" "4" "move"; }
    Mod+Shift+3 { spawn "workspace-per-monitor" "3" "move"; }
    Mod+Shift+2 { spawn "workspace-per-monitor" "2" "move"; }
    Mod+Shift+1 { spawn "workspace-per-monitor" "1" "move"; }
}
